@use '~/styles/variables';

#footer {
  position: fixed;
  left: 0;
  bottom: -50px;
  opacity: 0.0;
  width: 100%;
  transition: .6s;
  margin-bottom: variables.$spacing_m;

  color: white;
  font-size: 11pt;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;

  &.show {
    bottom: 0px;
    opacity: 1.0;
  }
}