@use '~/styles/variables';

.button {
  position: relative;
  //height: variables.$buttonHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
  border-style: solid;
  cursor: pointer;

  .buttonHover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: .4s;
    background: white;
  }

  .buttonLabel {
    transition: .4s;
    padding: 0 variables.$spacing_m;
    z-index: 9;
  }

  &:hover {
    .buttonHover {
      width: 100%;
      box-shadow: 0px 0px 10px 5px #00000059;
    }

    .buttonLabel {
      color: variables.$red;
    }
  }
}