@use '~/styles/variables';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: variables.$spacing_m;
  border-color: white;
  border-style: solid;
  padding: 8px;
  cursor: pointer;

  .buttonHover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: .4s;
  }

  .buttonLabel {
    transition: .4s;
    padding: 0 variables.$spacing_m;
    z-index: 9;
  }

  .buttonBack {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
  }

  &:hover {
    .buttonHover {
      width: 100%;
    }
  }
}