@use '~/styles/variables';

#aboutContent {
  padding-top: variables.$spacing_xxxl;
  max-width: 60%;
  color: white;
  text-align: center;

  .aboutContentText {
    margin-bottom: variables.$spacing_l;
  }
}