html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Akzidenz-Grotesk BQ';
}

span,
a {
  color: inherit;
  text-decoration: none;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
}

* {
  box-sizing: border-box;
}