$headerHeight: 80px;
$buttonHeight: 40px;

$spacing_xxs: 2px;
$spacing_xs: 4px;
$spacing_s: 8px;
$spacing_m: 12px;
$spacing_l: 16px;
$spacing_xl: 24px;
$spacing_xxl: 32px;
$spacing_xxxl: 64px;

$red: #EA4B40;